worker_processes 1;

events { worker_connections 1024; }

http {
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    server {
        listen 80;

        location /fastapi {
            rewrite ^/fastapi(.*)$ $1 break;
            proxy_pass http://localhost:8000;
            proxy_http_version 1.1;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection "upgrade";
        }

        location /vnc/ {
            alias /usr/share/novnc/;
            index vnc.html;

            location ~* \.js$ {
                alias /usr/share/novnc/;
                add_header Content-Type text/javascript;
                expires 1d;
            }

            location ~* \.mjs$ {
                alias /usr/share/novnc/;
                add_header Content-Type text/javascript;
                expires 1d;
            }

            location ~* \.(css|html|png|jpg|jpeg|gif|ico|svg)$ {
                alias /usr/share/novnc/;
                expires 1d;
            }
        }

        location /websockify {
            proxy_pass http://localhost:9000/websockify;
            proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection "upgrade";
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        }
    }
}
